.table-container {
  width: 100%;
}


#skillname{
    background-color: rgba(255, 239, 100, 0.777);
    color: #dc3545;
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 20px;
    margin-left: -3px;
}



.grid-container {
  width: 94%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
  justify-items: start;
}


.skill-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 30px;
  width: 280px;        
  height: 250px;        
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  border-top: 3px solid #0db871;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.skill-card:hover {
  transform: scale(1.03);
}

.skill-card h3 {
  color: #7a42f4;
  margin-bottom: 8px;
}

.skill-card p {
  margin: 4px 0;
  color: #555;
}

.card-actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 3px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 3px 12px;
  border-radius: 6px;
  cursor: pointer;
}
