.login-page{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2, #f64f5ae2); 
  background-size: cover;  
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.formcard-login {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  margin: 100px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.headlogin{
  margin-bottom: 10px;
  font-size: large;
  font-weight: 700;
}

